* {
  margin: 0;
  padding: 0px;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
  background: url("file:///Users/anvarturobov/Desktop/development/WDI_Project_One/background.jpg") no-repeat center center / cover;
}

/*.wrapper {
	background: url("file:///Users/anvarturobov/Desktop/development/WDI_Project_One/background.jpg") no-repeat center center / cover;
}*/

#easy {
	font-size: 50px;
	font-color: #0404f9;
}



#progress {
  text-align: center;
  margin: 20px auto;
  background-color: transparent;
  width: 400px;
  height: 90px; 
  border-width: 1px;
  border-style: solid;
  border-color: #6495ED;
  border-radius: 100%;
  padding: 10px;
  color: red;
}

#continue {
	font-weight: bold;
	font-size: 25px;
	color: green;
	border-width: 0;

#startAgain {
	font-weight: bold;
	font-size: 25px;
	color: red;
	border-width: 0
}
}

#display {
  border-width: 2px;
  border-color: red;
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  text-align: middle;
  margin: 20px auto;
  background-color: transparent;
  width: 400px;
  height: 90px; 
  border-radius: 20%;
  padding: 10px;
  color: #4dff07;

}


button {
	text-align: middle;
	display: inline-block;
	margin: 0 auto;
	width: 250px;
	height: 80px;
	border-radius: 100%;
	font-weight: bold;
	font-family: serif;
	font-size: 50px;
	background-color: transparent;
	color: #4dff07
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
}

ul {
  margin: 0 auto;
}


li {
  margin: 0px 20px;
  line-height: 60px;
  display: inline;
}


a {
  text-decoration: none;
/*  color: #f2f2f2;*/
}

h1 {
  margin: 0 auto;
}


section {
  width: 100%;
  height: 500px;
}

section.wrapper {
	line-height: 87px;
}

.main {

}

	
footer{
  background-color: grey;
  height: 200px;
  margin: 100px auto;
}
