** {
  margin: 0;
  padding: 0px;
}*/


body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
}

#progress {
  text-align: center;
  margin: 20px auto;
  background-color: pink;
  width: 400px;
  height: 70px; 
  border-width: 2px;
  border-style: solid;
  border-color: #6495ED;
  border-radius: 100%;
  padding: 10px;
}

#display {
  border-width: 2px;
  border-color: red;
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  background-color: yellow;
  width: 400px;
  height: 70px; 
  border-style: solid;
  border-radius: 100%;
  padding: 10px;
}


button {
	text-align: middle;
	display: inline-block;
	margin: 0 auto;
	width: 250px;
	height: 80px;
	border-radius: 100%;
	font-weight: bold;
	font-family: serif;
	font-size: 30px;
}

header {
  background-color: red;
  width: 100%;
  height: 60px;
  text-align: center;
}

ul {
  margin: 0 auto;
}


li {
  margin: 0px 20px;
  line-height: 60px;
  display: inline;
}


a {
  text-decoration: none;
  color: #f2f2f2;
}

h1 {
  margin: 0 auto;
}


section {
  width: 100%;
  height: 500px;
}

.main {

}

	
footer{
  background-color: grey;
  height: 200px;
  margin: 100px auto;
}
