* {
  margin: 0;
  padding: 0px;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
  background: url("file:///Users/anvarturobov/Desktop/development/WDI_Project_One/background.jpg") no-repeat center center / cover;
  cursor: url("file:///Users/anvarturobov/Desktop/development/WDI_Project_One/image.jpeg");
}


#easy {
	font-size: 80px;
	font-color: #0404f9;
}


#progress {
  text-align: center;
  margin: 20px auto;
  background-color: transparent;
  width: 450px;
  height: 100px; 
  border-width: 1px;
  border-color: #6495ED;
  border-radius: 100%;
  padding: 20px;
  color: red;
  line-height: 30px;
  outline: none
}

#continue {
	font-weight: bold;
	font-size: 25px;
	color: green;
	border-width: 0;
	line-height: 30px;
}

#startAgain {
	font-weight: bold;
	font-size: 25px;
	color: yellow;
	margin-top: -50px;
}

#display {
  border-width: 2px;
  border-color: red;
  font-size: 50px;
  font-family: Rockwell Extra Bold;
  font-weight: bold;
  text-align: middle;
  margin: 20px auto;
  background-color: transparent;
  width: 400px;
  height: 90px; 
  border-radius: 20%;
  padding: 10px;
  color: #4dff07;

}


button {
	width: 250px;
	border-radius: 100%;
	font-weight: bold;
	font-family: serif;
	background-color: transparent;
	color: #4dff07;
	line-height: 150px;
	padding: 0;
	border: 0px;
	outline: none
}

li button {
	font-size: 50px;
	float: left;
	margin: 0 15px;
}

li button:hover{
	font-size: 100px
}


header {
  width: 100%;
  height: 60px;
  text-align: center;
}

ul {
  margin: 0 auto;
}


li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0 auto;
}


section {
  width: 100%;
  height: 500px;
}

section.wrapper {
	line-height: 87px;
}

.main {

}

	
footer{
  background-color: grey;
  height: 200px;
  margin: 100px auto;
}
